img {
    width: 200px;
    height: 200px;
}
.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#btn
{
    margin-top: 10px;
}
#catImg
{
    display: flex;
    flex-grow: 1;
}